pkgbase = chatgpt-official-bin
	pkgdesc = Official ChatGPT desktop app for Linux, repackaged for Arch/Artix
	pkgver = 26.908.40834
	pkgrel = 1
	url = https://developers.openai.com/codex/app
	arch = x86_64
	license = unknown
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libcups
	depends = libdrm
	depends = libgcc
	depends = libglvnd
	depends = libnotify
	depends = libstdc++
	depends = libudev.so
	depends = libusb
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = vulkan-driver
	depends = vulkan-icd-loader
	depends = xdg-utils
	depends = xz
	optdepends = git: Codex Git/repository workflows
	provides = chatgpt=26.908.40834
	conflicts = chatgpt
	noextract = chatgpt_26.908.40834_amd64.deb
	options = !strip
	options = !debug
	source_x86_64 = chatgpt_26.908.40834_amd64.deb::https://persistent.oaistatic.com/codex-app-prod/linux/deb/pool/main/c/chatgpt/chatgpt_26.908.40834_amd64.deb
	sha256sums_x86_64 = da37b8e7bcefaaea019c478cacbe6c73ee1ddd15e0e1ebb3c7ef0a42dd818ac2

pkgname = chatgpt-official-bin
